.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 16px 0;
}

.Task {
  display: flex;
  align-items: center;
}

.TaskCompleted {
  color: grey;
}

.CheckIcon {
  cursor: pointer;
  color: green;
  margin-left: 8px;
  margin-right: 8px;
}

.DeleteIcon {
  cursor: pointer;
  color: red;
}